body{
	background-image: url('./images/news.jpg');
}

#title {
    font-family: 'VT323', monospace;
}

.jumbotron {
    box-shadow: inset 0px 0px 7px #bebebe;
}

.searchParams {
    width: 25%;
    margin: 5px;
    float: left;
}

#searchBtn {
    height: 35px;
    width: 80px;
    margin-left: 2em;
    margin-top: 2em;
}